---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="about" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <h4>About</h4>
    <p>
        Hello, welcome to visit my site! 👋
    </p>
    <p>
        I am a doctoral researcher (Ph.D. candidate) in the research group led by <a href="https://www.uni-saarland.de/en/chair/translate-to-englisch-lehrstuhl-demberg.html" target="_blank" style="color:#E45826;">Prof. Dr. Vera Demberg</a> at <a href="https://www.uni-saarland.de/en/home.html" target="_blank" style="color:#E45826;">Saarland University</a>, and I am also affiliated with the ERC-funded project: <a href="https://cordis.europa.eu/project/id/948878" target="_blank" style="color:#E45826;">
        Individualized Interaction in Discourse</a>. Concurrently, I am a visiting scholar at the University of Edinburgh, working under the guidance of <a href="https://homepages.inf.ed.ac.uk/mlap/" target="_blank" style="color:#E45826;">Prof. Dr. Mirella Lapata</a>.
        My research interests lie primarily in the area of <code class="language-plaintext highlighter-rouge"> CS ∩ CL ∩ AI</code>.
    </p>
    <p>
        Prior to joining Saarland University, I earned my Master of Computer Science degree under the supervision of <a href="https://staff.fnwi.uva.nl/k.simaan/" target="_blank" style="color:#E45826;"> Prof. Dr. Khalil Sima'an</a> at the <a href="https://www.illc.uva.nl/" target="_blank" style="color:#E45826;">Institute for Logic, Language and Computation</a>, <a href="https://www.uva.nl/en" target="_blank" style="color:#E45826;">University of Amsterdam</a>.
    </p>

    <h5>| Research Interests</h5>
    <ul>
        <li>Natural Language Generation</li>
        <li>Text Summarization </li>
        <li>Parameter-Efficient Fine-Tuning</li>
        <li>Syntactic Structure & Discourse Structure</li>
    </ul>
</div>

<!-- ========== Education========== -->
<div class="docs-section" id="education">
    <h4>Education</h4>

          <div class="paper">
            <p class="title"><b>Saarland University <span style="float:right;">Jul. 2022 - Present </span></b></p>
            <p>Ph.D. Candidate, Computational Linguistics<span style="float:right;">Saarbrücken, Germany</span></p>
          </div>

          <div class="paper">
            <p class="title"><b>University of Edinburgh <span style="float:right;">Feb. 2024 - Present </span></b></p>
            <p>Visiting Scholar, Informatics<span style="float:right;">Edinburgh, United Kingdom</span></p>
          </div>
        
          <div class="paper">
            <p class="title"><b>University of Amsterdam <span style="float:right;">Feb. 2020 - Jul. 2022 </span></b></p>
            <p>M.Sc. Student, Computer Science<span style="float:right;">Amsterdam, Netherlands</span></p>
          </div>

          <div class="paper">
            <p class="title"><b>Vrije University Amsterdam <span style="float:right;">Feb. 2020 - Jul. 2022 </span></b></p>
            <p>M.Sc. Student, Computer Science<span style="float:right;">Amsterdam, Netherlands</span></p>
          </div>
        
          <div class="paper">
            <p class="title"><b>Central China Normal University <span style="float:right;">Sep. 2015 - Jul. 2019 </span></b></p>
            <p>B.Eng. Student, Software Engineering<span style="float:right;">Wuhan, China</span></p>
          </div>
        
          <div class="paper">
            <p class="title"><b>National Tsing Hua University <span style="float:right;">Sep. 2018 - Jan. 2019 </span></b></p>
            <p>Exchange Student, Computer Science<span style="float:right;">Hsinchu, Taiwan</span></p>
          </div>
        
  </div>

<!-- ========== PUBLICATIONS ========== -->
<div class="docs-section" id="publications">
  <h4>Publications</h4>

  <p>Most recent publications on <a href="{{ site.data.main_info.semantic_scholar }}" target="_blank" style="color:#E45826;">Semantic Scholar</a>.<br/>
  <sup>‡</sup> indicates equal contribution.
  </p>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
    <li><div class="button" data-ref="#papers-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}

            {% if paper.data %}
              <a class="button" href="{{ paper.data }}" target="_blank">Data</a>
            {% endif %}

            {% if paper.info %}
              <a class="button" href="{{ paper.info }}" target="_blank">Info</a>
            {% endif %}

          </div>
        </div>
      {% endfor %}
    </div>

    <div class="tab-pane" id="papers-all">
      {% for paper in site.data.publications.papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
             
           {% if paper.info %}
              <a class="button" href="{{ paper.info }}" target="_blank">Info</a>
           {% endif %}
             
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- ==========Work experience========== -->
<div class="docs-section" id="work_experiences">
    <h4>Work Experiences</h4>
          <div class="paper">
            <p class="title"><b>Saarland University <b style="float:right;">Jul. 2022 - Present </b></b></p>
            <p>Doctoral researcher in Natural Language Generation<span style="float:right;">Saarbrücken, Germany</span></p>
            <p></p>
          </div>

          <div class="paper">
            <p class="title"><b>Volkswagen Group China <b style="float:right;">Jan. 2021 - Aug. 2021 </b></b></p>
            <p>NLP Intern<span style="float:right;">Beijing, China</span></p>
          </div>
  
          <div class="paper">
            <p class="title"><b>IBM Australia<b style="float:right;">Sep. 2019 - Jan. 2020 </b></b></p>
            <p>Machine Learning Intern<span style="float:right;">Brisbane, Australia</span></p>
          </div>
</div>


<!-- ==========Academic Service========== -->
<div class="docs-section" id="academic_services">
    <h4>Academic Services</h4>
          <div class="paper">
            <p class="title"><b>Annual Meeting of the Association for Computational Linguistics <b style="float:right;">ACL 2023</b></b></p>
            <p>Program Committee</p>
          </div>
  
          <div class="paper">
            <p class="title"><b>Conference on Empirical Methods in Natural Language Processing <b style="float:right;">EMNLP 2023</b></b></p>
            <p>Program Committee</p>
          </div>

          <div class="paper">
            <p class="title"><b>Annual Conference of the North American Chapter of the Association for Computational Linguistics <b style="float:right;">NAACL 2024</b></b></p>
            <p>Program Committee</p>
          </div>

          <div class="paper">
            <p class="title"><b>International Conference on Computational Linguistics <b style="float:right;">COLING 2022/24</b></b></p>
            <p>Program Committee</p>
          </div>

          <div class="paper">
            <p class="title"><b>The Workshop on Individual Differences in Pragmatics and Discourse <b style="float:right;">IndiPRAG 2023</b></b></p>
            <p>Co-organizer</p>
          </div>
  </div>

<!-- ==========Teaching========== -->
<div class="docs-section" id="teaching">
    <h4>Teaching</h4>
            <div class="paper">
            <p class="title"><b>Saarland University</b></p>
            <p>Master's Supervisor for Yifan Wang <span style="float:right;">Aug. 2022 - Dec.2023</span></p>
            <p>Master's Supervisor for Anushka Kothari <span style="float:right;">Nov. 2022 - Present</span></p>
            <p>Master's Supervisor for Tahiira Zimmerman <span style="float:right;">Dec 2022 - Present</span></p>
            <p>Master's Supervisor for Xi Yu <span style="float:right;">Dec 2022 - Present</span></p>                                                                                         
          </div>
          <div class="paper">
            <p class="title"><b>Saarland University<span style="float:right;">Apr. 2023 - Jul. 2023</span></b></p>
            <p>Teaching Supervisor at the <a href="https://cms.sic.saarland/dsaiproject23/" target="_blank" style="color:#E45826;">Data Science and Artificial Intelligence</a> </p>
          </div>
          <div class="paper">
            <p class="title"><b>Vrije Universiteit Amsterdam <span style="float:right;">Jun. 2021 - Jul. 2021 </span></b></p>
            <p>Teaching Assistant at the <a href="https://studiegids.vu.nl/en/Master/2020-2021/artificial-intelligence/XM_40012" target="_blank" style="color:#E45826;">Machine Learning for the Quantified Self</a> </p>
          </div>
  </div>

<div class="docs-section" id="misc">
    <h4>Misc.</h4>
    <h6><b>More about me:</b></h6>
    <ul>
        <li>I was born in the southernmost city in China: <a href="https://en.wikipedia.org/wiki/Sanya" target="_blank" style="color:#E45826;">Sanya.</a></li>
        <li>Originating from a peasant family, my parents ventured to Sanya City as <a href="https://en.wikipedia.org/wiki/Mingong" target="_blank" style="color:#E45826;">migrant workers</a>. Throughout my upbringing, they showered me with immeasurable love, for which I will forever remain deeply grateful.</li>
        <li>During my middle school years, I was somewhat rebellious and authored a novel to critique societal and campus injustices. Over time, I came to understand the complexities of life and the fact that not everything is black and white. This realization led me to make peace with myself and cultivate a more open-minded perspective.</li>
    </ul>
    <h6><b>Life pursuit:</b></h6>
    <p>
        I have long aspired to make a meaningful contribution to society, dreaming of a research or work accomplishment that could positively impact countless lives around the world.
    </p>


<!--    <p style="text-align: center;">-->
<!--         <img src="assets/images/ERC.jpeg" width="40%" height="40%">-->
<!--    </p>-->
    
</div>

<!--<div class="docs-section" id="projects">-->
<!--  <h4>Projects</h4>-->

<!--  <ul class="tab-nav">-->
<!--    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>-->
<!--    <li><div class="button" data-ref="#projects-all">All</div></li>-->
<!--  </ul>-->

<!--  <div class="tab-content">-->
<!--    <div class="tab-pane active" id="projects-selected">-->
<!--      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}-->
<!--      {% for project in selected_projects %}-->
<!--        {% assign index_modulo = forloop.index0 | modulo:3 %}-->
<!--        {% if index_modulo == 0 %}-->
<!--          <div class="row">-->
<!--        {% endif %}-->

<!--          <div class="four columns">-->
<!--            <div class="project-container">-->

<!--                <div class="project-image-container">-->
<!--                  <a href="{{ project.url }}">-->
<!--                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />-->
<!--                  </a>-->
<!--                </div>-->

<!--                <div class="project-caption">-->
<!--                  <b>{{ project.title }}</b> <br/>-->
<!--                  {{ project.subtitle }}-->
<!--                </div>-->

<!--            </div>-->
<!--          </div>-->

<!--        {% if index_modulo == 2 %}-->
<!--          </div>-->
<!--        {% endif %}-->
<!--      {% endfor %}-->
<!--    </div>-->

<!--    <div class="tab-pane" id="projects-all">-->
<!--      {% for project in site.data.projects.projects %}-->
<!--        {% assign index_modulo = forloop.index0 | modulo:3 %}-->
<!--        {% if index_modulo == 0 %}-->
<!--          <div class="row">-->
<!--        {% endif %}-->

<!--          <div class="four columns">-->
<!--            <div class="project-container">-->

<!--                <div class="project-image-container">-->
<!--                  <a href="{{ project.url }}">-->
<!--                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />-->
<!--                  </a>-->
<!--                </div>-->

<!--                <div class="project-caption">-->
<!--                  <b>{{ project.title }}</b> <br/>-->
<!--                  {{ project.subtitle }}-->
<!--                </div>-->

<!--            </div>-->
<!--          </div>-->

<!--        {% if index_modulo == 2 %}-->
<!--          </div>-->
<!--        {% endif %}-->
<!--      {% endfor %}-->
<!--    </div>-->
<!--  </div>-->

</div>



